*.bc
*.so
*.o
*~
*.exe
*.zip
*.gz
BLD/
\#*\#
.envrc
.env

GPATH
GRTAGS
GTAGS
TAGS

.DS_Store
web/go/assets/server
web/go/src/.vscode
web/go/assets/customer
web/go/assets/admin
setup/myddb
setup/adventureworks.sql
setup/northwind.sql
web/js/.yarnclean
web/js/packages/portal/.yarnclean
web/go/assets/\#run.sh\#
Tunnels/go/client/client
Tunnels/go/server/server
Tunnels/go/client/tunnel
Tunnels/go/client/.vscode/__debug_bin
Tunnels/go/client/.vscode/launch.json
Tunnels/go/client/__debug_bin.old
Tunnels/go/client/client.old
Tunnels/go/server/server
Tunnels/go/client/client.exe.old
.VSCodeCounter
Tunnels/go/GUI/client
Tunnels/go/GUI/dymiumgui.app/Contents/Info.plist
Tunnels/go/GUI/dymiumgui.app/Contents/MacOS/dymiumgui
Tunnels/go/GUI/dymiumgui.app/Contents/Resources/icon.icns
Tunnels/go/GUI/dymiumgui
Tunnels/installer/MacOS/macOS-x64/target/package/dymium.pkg
Tunnels/installer/MacOS/macOS-x64/target/pkg/dymium-macos-installer-x64-0.0.9.pkg
Tunnels/installer/MacOS/macOS-x64/target/darwinpkg/Library/dymium/0.0.9/.gitkeep
Tunnels/installer/MacOS/macOS-x64/target/darwinpkg/Library/dymium/0.0.9/dymium
Tunnels/installer/MacOS/macOS-x64/target/darwinpkg/Library/dymium/0.0.9/uninstall.sh
Tunnels/installer/MacOS/macOS-x64/application/dymium
Tunnels/installer/MacOS/macOS-x64/target/darwin/Resources/banner.png
Tunnels/installer/MacOS/macOS-x64/target/darwin/Resources/conclusion.html
Tunnels/installer/MacOS/macOS-x64/target/darwin/Resources/LICENSE.txt
Tunnels/installer/MacOS/macOS-x64/target/darwin/Resources/uninstall.sh
Tunnels/installer/MacOS/macOS-x64/target/darwin/Resources/welcome.html
Tunnels/installer/MacOS/macOS-x64/target/darwin/scripts/postinstall
Tunnels/installer/MacOS/macOS-x64/target/darwin/Distribution
Tunnels/installer/MacOS/LICENSE
Tunnels/go/GUI/dymium
Tunnels/go/GUI/config.txt
Tunnels/go/GUI/dymiumgui.app/Contents/MacOS/dymium
web/devcerts/index.txt.attr.old
web/devcerts/index.txt.old
Tunnels/go/GUI/dymium_signing_csr.txt
Tunnels/go/GUI/dymiumgui.app/Contents/_CodeSignature/CodeResources
Tunnels/go/GUI/dymiumsign.key
Tunnels/installer/MacOS/macOS-x64/target/darwinpkg/Library/dymiumapp/0.0.2/.gitkeep
Tunnels/installer/MacOS/macOS-x64/target/darwinpkg/Library/dymiumapp/0.0.2/uninstall.sh
Tunnels/installer/MacOS/macOS-x64/target/package/dymiumapp.pkg
Tunnels/installer/MacOS/macOS-x64/target/pkg-signed/dymiumapp-macos-installer-x64-0.0.2.pkg
Tunnels/installer/MacOS/macOS-x64/target/pkg/dymiumapp-macos-installer-x64-0.0.2.pkg
Tunnels/installer/MacOSPackages/build/DymiumTunnel.pkg
Tunnels/installer/MacOSPackages/developer_log.json
Tunnels/installer/MacOSPackages/DymiumTunnel.pkg
Tunnels/installer/MacOSPackages/DymiumTunnel.pkgproj
web/js/packages/portal/public/DymiumInstaller.pkg
Tunnels/go/client/dymium
Tunnels/go/GUI/dymiumgui.app/Contents/MacOS/dymium.cstemp
Tunnels/go/meshconnector/__debug_bin
Tunnels/go/meshconnector/meshconnector
Tunnels/go/meshserver/__debug_bin
web/go/src/server
Tunnels/go/meshconnector/aws.sh
Tunnels/go/meshconnector/gcp.sh
Tunnels/go/meshconnector/runproderr.sh
Tunnels/go/client/linuxclient
Tunnels/go/meshconnector/dymium
Tunnels/go/meshconnector/meshconnector
Tunnels/go/meshconnector/.meshconnector.exe.new
Tunnels/go/meshconnector/meshconnector.exe.old
Tunnels/go/meshconnector/meshconnector.exe.old1
web/go/gotest
web/js/yarn-error.log
Tunnels/go/meshconnector/meshconnector.0.1.2.bak
Tunnels/go/meshserver/meshserver
Tunnels/go/meshconnector/output.txt
Tunnels/go/meshconnector/trace.out
Tunnels/go/meshconnector/meshconnector.0.1.3.bak
web/go/src/dymium
Tunnels/go/meshserver/output.txt
Tunnels/go/meshconnector/connector.go.old
DbAnalyzer/scripts/.localrun.sh.swp
Tunnels/go/machineclient/output.txt
Tunnels/go/machineclient/machineclient
Tunnels/go/machineclient/src/machineclient
Tunnels/go/machineclient/src/output.txt
Tunnels/go/meshconnector/meshconnector_linux_amd64.tgz
Tunnels/go/meshconnector/meshconnector_linux_amd64.tgz
Tunnels/go/machineclient/src/output.txt
setup/ktDbAnalyzerSvc-0.0.1.tar
Tunnels/go/server/tunnel/server.mgo
Tunnels/go/meshserver/profile001.svg
Tunnels/go/machineclient/src/go.mod.old
Tunnels/go/machineclient/src/meshconnector.1.0.1.bak
Tunnels/go/meshconnector/meshconnector.1.0.0.bak
