
.DS_Store
web/go/assets/server
web/go/src/.vscode
web/go/assets/customer
web/go/assets/admin
web/go/scripts/BLD
setup/myddb
setup/myddb~
setup/adventureworks.sql
setup/northwind.sql
setup/adventureworks.sql~
setup/northwind.sql~
web/js/.yarnclean
web/js/packages/portal/.yarnclean
web/go/assets/\#run.sh\#
DbSync/scripts/localruntest.sh~
web/go/assets/runtest.sh~
Tunnels/go/client/client
Tunnels/go/server/server
Tunnels/go/client/tunnel.exe
Tunnels/go/client/tunnel
