*.bc
*.so
*.o
*~
*.exe
*.zip
*.gz
BLD/
\#*\#

.DS_Store
web/go/assets/server
web/go/src/.vscode
web/go/assets/customer
web/go/assets/admin
setup/myddb
setup/adventureworks.sql
setup/northwind.sql
web/js/.yarnclean
web/js/packages/portal/.yarnclean
web/go/assets/\#run.sh\#
Tunnels/go/client/client
Tunnels/go/server/server
Tunnels/go/client/tunnel
Tunnels/go/client/.vscode/__debug_bin
Tunnels/go/client/.vscode/launch.json
Tunnels/go/client/__debug_bin.old
Tunnels/go/client/client.old
Tunnels/go/server/server
Tunnels/go/client/client.exe.old
.VSCodeCounter
