DO $$
BEGIN
  CREATE SERVER {{.Server}} FOREIGN DATA WRAPPER mongodb_fdw OPTIONS (
    address '{{.Address}}', port '{{.Port}}', authentication_database 'admin'
  );
  CREATE USER MAPPING FOR public SERVER {{.Server}} OPTIONS (
    username '{{.User}}', password '{{.Password}}'
  );
END $$;